<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>PROFILE</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />

</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul th:replace="layouts::sidebar"></ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<nav th:replace="layouts::topbar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">


					<!-- Content Row -->
					<div class="row">

						<div class="col-xl-8 col-lg-7">

							<!-- Author  form Section -->

							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">
										Author</h6>


								</div>
								<div class="card-body">
									<div class="content-section container"></div>
									<form method="POST" enctype="multipart/form-data" th:action="@{/author/save}" 
									th:object="${author}">
										
										<fieldset class="form-group">
											<legend class="border-bottom mb-4">Author Info</legend>
                                            <!-- This will be used to bind to the author that was clicked on (USED FOR UPDATES)  -->
                                             <input type="hidden" th:field=" ${author.Id}"/>
											<div id="div_id_firstName" class="form-group">
												<label for="id_firstname" class=" requiredField">
													First Name<span class="asteriskField">*</span>
												</label>
												<div>
													<input type="text" th:field ="${author.firstName}" name="firstName" value=""
														maxlength="150" class="textinput textInput form-control"
														 id="id_firstname" required autofocus = "autofocus">
												</div>
											</div>

											<div id="div_id_lastname" class="form-group">
												<label for="id_lastname" class=" requiredField">
													Last Name<span class="asteriskField">*</span>
												</label>
												<div>
													<input type="text" th:field ="${author.lastName}" name="lasttName" value=""
														maxlength="150" class="textinput textInput form-control"
														 id="id_lastname" required autofocus = "autofocus">
												</div>
											</div>



											<div id="div_id_bio" class="form-group">
												<label for="id_bio" class="">Genre </label>
												<div>
													<input type="text" th:field ="${author.genre}" name="genre" maxlength="2000"
														class="textinput textInput form-control" id="id_bio" required autofocus = "autofocus">
												</div>
											</div>


											<div id="div_id_phone" class="form-group">
												<label for="id_phone">Phone Number:</label>
												<div>
													<input type="tel" th:field ="${author.phoneNumber}"name="phoneNumber" maxlength="10"
														class="textinput textInput form-control" id="id_phone" required autofocus = "autofocus">
												</div>
											</div>


										</fieldset>
										<div class="form-group">
											<button href="" class="btn btn-outline-info" type="submit">Add</button>
										</div>
									</form>
								</div>

								<hr>

							</div>
						</div>


					</div>



				</div>

			</div>
			<!-- /.container-fluid -->
			<!-- Footer -->
			<footer th:replace="layouts::footer" class="sticky-footer bg-white"></footer>
			<!-- End of Footer -->
		</div>
		<!-- End of Main Content -->



	</div>
	<!-- End of Content Wrapper -->


	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a th:replace="layouts::scroll" class="scroll-to-top rounded"
		href="#page-top"></a>

	<!-- Logout Modal-->
	<div th:replace="layouts::logout" "logout"class="modal fade"
		id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>



</body>

</html>